/* CSS Document */

.menu ul a {
	color: #333333;
	text-decoration: none;
	text-align: center;
	}

.menu ul {
    font-family: helvetica, arial, sans-serif;
	font-size: 18px;
  	padding: 0;
    margin: 0;
    list-style: none;
  	color: #333333;
 
  }
  
 
.menu li {
	width: 314px;
    text-align: left;
	height: 27px;
	display: inline-block;
    padding: 3px 0 0 6px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    background-image: url(../images/menu_BG_M.png);
    margin: -1px 0 0;

}
  
.menu li ul li {
    width: 98px;
    font-size: 13px;
    border-top: 1px solid #a9d196;
    text-align: center;
    margin: -1px 0 0 0;
}
  
  

.menu li ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    clear: left;
    border-top: none;
    border-left: 1px solid #a9d196;
    border-right: 1px solid #a9d196;
    border-bottom: 1px solid #a9d196;
  
  }
  
.menu li > ul {
    top: 1em;
    left: 0;
        }
		
.menu li:hover{
	background-color: #111111;
	
                }
                
.menu li > ul li:hover {
	background-color: #000000;
	
                }
				
.menu li > ul li:hover a {
	color: #ffffff;
                }

		
.menu li:hover ul, li.over ul {
	display: block;
	top: 1em;
    left: 0;
    z-index: 100;
    background-color: #000000;
    
	}
.menu {
    margin-top: 7px;
    position: relative;
	background-color: #333333;
	margin-left: 0;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-size: 10px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	top: 0;
	max-width: 320px;
	min-width: 320px;
	width: 320px;
	left: 0;
}

.menuDiv{
	position: relative;
	margin: 0;
	background-color: #4c4b4b;
    background-repeat: repeat-x;
    background-image: url(../images/menuBG.png);
	color: #000000;
	text-transform: none;
	text-decoration: none;
	text-align: center;
	font-size: 10px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	top: 0;
	max-height: 50px;
	min-height: 50px;
	height: 50px;
	max-width: 320px;
	min-width: 320px;
	width: 320px;
	left: 0;
}

.menuButton {
    margin-top: 0;
    position: relative;
	background-image: url(../images/menu_BG_M.png);
	margin-left: 0;
	color: #333333;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	top: 0;
	max-height: 25px;
	min-height: 25px;
	height: 25px;
	max-width: 320px;
	min-width: 320px;
	width: 320px;
	left: 0;
	border-top: solid 1px #333333;
	border-bottom: solid 1px #333333;
	padding-top: 5px;
	}

.menuButton a:link, a:hover, a:visited, a:active{
	color: #333333;
	text-decoration: none;
}